.itemColor{
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.estiloNavbar{
    background-color: gray !important;
}

.itemColor:hover{
    color: black;
}

.colorBoton{
    background-color: gray !important;
    border-color: gray !important;
}

.colorBoton:hover{
    color: black !important;
}

.estiloLogo{
    width: 15%;
}

.tituloFooter{
    text-align: center;
}

.footerGeneral{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}

.navbarItem{
    padding-right: 175px;
    margin-left: 150px;
}

.tituloFooter{
    text-align: left;
}


